:root {
    --primary-color: #0D659D
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color) !important;
}

.rs-contact.contact-style6 .contact-section {
    padding: 100px 40px 85px 40px !important;
    background-color: #f5f7fc !important;
}

.rs-contact.contact-style6 .contact-box {
    padding: 61px 35px 61px 35px !important;
    background-color: #f5f7fc !important;
}

    .rs-contact.contact-style6 .contact-box .content-text .title a {
        color: #000000;
    }

    .rs-contact.contact-style6 .contact-box .content-text span a {
        color: var(--primary-color);
    }

.contact-map {
    max-height: 555px
}

.address-text {
    font-weight: 500
}

.rs-partner.partner-main-home .partner-content-widget .logo-img {
    padding: 0px 10px !important;
}

.services-img {
    text-align: center;
}

.serv-img {
    /*    //width: 776px;
*/ height: 380px;
}

.rs-breadcrumbs .breadcrumbs-inner .page-title {
    font-family: 'Cambria Math';
}

ul.services-list li a:hover {
    color: #ffffff !important;
}

.row {
    text-align: justify;
}

.rs-services.services-style13 .services-item .services-text .title {
    text-align: center;
}

.rs-project-details .project-information {
    padding: 40px 0px 25px 0px;
    text-align: start;
}

.rs-services.services-style1 .services-slider {
    height: 100%;
    padding: 10px 15px 43px 15px;
}

    .rs-services.services-style1 .services-slider .services-content .services-txt {
        height: 235px;
    }

.rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link.collapsed {
    background-color: #e8eaee;
    color: #000000;
    margin: 0px 0px 5px 0px;
    font-size: 16px;
}

    .rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link.collapsed:hover {
        background-color: var(--primary-color);
        color: #ffffff;
    }

    .rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link.collapsed:after {
        color: #000000;
    }

.rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link {
    color: #ffffff;
}

    .rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link:after {
        color: #ffffff;
    }

.rs-slider.rs-slider-style2.rs-slider-style7 .container .content-part .sl-title {
    line-height: 50px;
    font-family: 'Roboto';
    margin-top: 10px;
    font-weight: 500
}

.rs-slider.rs-slider-style2.rs-slider-style7 .container .slide-layer {
    border-radius: 10px;
}

.side-title {
    font-family: 'Roboto';
    margin-bottom: 5px;
    color: var(--primary-color);
}

.btn-list {
    border-radius: 20px;
    margin-bottom: 10px
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

    .btn-outline-primary:hover {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

.rs-services-single .services-add {
    /*border-radius: 80px 0px 80px 0px;*/
    background-color: #041f31fc;
}

    .rs-services-single .services-add .services-overlay {
    }

    .rs-services-single .services-add .address-wrap-item a {
        border-radius: 20px;
    }

.rs-footer.footer-main-home .footer-top {
    padding: 35px 0 5px;
}

.footer-padding {
    padding-left: 79px;
    padding-right: 79px;
}

.readon.more.contact {
    padding: 16px 20px 16px 20px
}

.rs-slider.rs-slider-style2.rs-slider-style7 .container .slide-layer {
    width: 500px;
    height: 350px;
}

.rs-slider.rs-slider-style2.rs-slider-style7 .container .slide-layer {
    margin-top: -25px;
}

.rs-contact.contact-style6 .contact-map {
    text-align: center;
}

    .rs-contact.contact-style6 .contact-map iframe {
        height: 300px;
        /*width: 65%;*/
        float: unset
    }

.map-pad {
    /*padding-right:10%*/
}

input::placeholder {
    color: black;
}

.rs-contact.contact-style6 .contact-section .contact-wrap .from-control {
    background-color: #ffffff;
    color: #000000;
}

::placeholder { /* Most modern browsers support this now. */
    color: #000000 !important;
}

.rs-inner-blog .widget-area .widget-title .title {
    font-family: Roboto;
}

@media only screen and (max-width: 991px) {
    .info-cards {
        margin-top: 3rem;
    }
}

.rs-project-details .project-information .project-right-border:after {
    content: none;
}

.rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link.collapsed:after {
    content: none;
}

.project-row {
    height: 480px;
}

    .project-row .slider-img {
        width: 60%;
        height: 100%;
    }

        .project-row .slider-img .project-img {
            height: 100%;
        }

    .project-row .project-info {
        background-color: #f5f7fc;
        height: 100%;
    }

        .project-row .project-info .project-info-container {
            height: 100%;
        }

.hide-desk {
    display: none;
}
.hide-mob {
    display: block;
}
.full-width-header .mobile-navbar-menu .hash-has-sub span.submenu-button {
    width: 10%;
    cursor: cell;
}
@media only screen and (min-width: 992px) {
    .container-nav {
        max-width: 1070px;
    }
}

@media only screen and (max-width: 992px) {
    .project-row {
        height: auto;
    }

        .project-row .slider-img {
            width: 100%
        }

        .project-row .project-info .project-info-container .project-information {
            height: 100%;
        }

        .project-row .project-info .project-info-container {
            background-color: #f5f7fc;
        }

        .project-row .project-info {
            background-color: unset;
        }

    .hide-desk {
        display: block;
    }

    .hide-mob {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .container-nav {
        max-width: 1240px;
    }
}

@media only screen and (min-width: 1300px) {
    .container-nav {
        max-width: 1400px !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {

    .rs-slider.rs-slider-style2 .nivo-caption {
        width: 95%;
        padding: 22px 20px 0 20px !important;
    }

    .rs-slider.rs-slider-style2.rs-slider-style7 .container .slide-layer {
        margin-top: 0;
    }
}
