:root {
    --primary-color: #0D659D
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color) !important;
}
.rs-contact.contact-style6 .contact-section {
    padding: 100px 40px 85px 40px !important;
    background-color: #031c2c !important;
}
.rs-contact.contact-style6 .contact-box {
    padding: 61px 35px 61px 35px !important;
    background-color: #031c2c !important;
}
.contact-map{
    max-height:555px
}
.address-text{
    font-weight:500
}
.rs-partner.partner-main-home .partner-content-widget .logo-img {
    padding: 0px 10px !important;
}
.serv-img {
    width: 776px;
    height: 453px;
}
.rs-breadcrumbs .breadcrumbs-inner .page-title{
    font-family:'Cambria Math';
}
.rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link{
    color: #ffffff !important;
}
.rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link:after {
    color: #ffffff !important;
}
.rs-faq.faq-style1 .faq-content .accordion .card .card-header .card-link.collapsed:after {
    color: #ffffff !important;
}
ul.services-list li a:hover{
    color: #ffffff !important;
}
.row {
    text-align: justify;
}
.rs-services.services-style13 .services-item .services-text .title{
    text-align:center;
}
/*.services-item{
    height:78%
}
.services-wrap{
    height:100%
}*/
@media only screen and (max-width: 991px) {
    .info-cards{
        margin-top:3rem;
    }
}
@media only screen and (min-width: 992px) {
    .container-nav {
        max-width: 1070px;
    }
}
@media only screen and (min-width: 1200px) {
    .container-nav {
        max-width: 1240px;
    }
}
@media only screen and (min-width: 1300px) {
    .container-nav {
        max-width: 1400px !important;
        width: 100% !important;
    }
}


