@model WATERWebsite.Core.ViewModels.AdminIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" style="margin:120px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProjectModal">Add Project</button>
<div class="modal fade" id="ProjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
            </div>
            <div class="modal-body">
                <div id="rs-checkout" class="rs-checkout">
                    <div class="container">
                        <div class="full-grid">
                            <form  enctype="multipart/form-data" id="ProjectForm">
                                <div class="billing-fields">
                                    <div class="form-content-box">
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectNameE" name="ProjectNameE">Project Name (EN): <span style="color:red;">*</span></label>
                                                    <input id="ProjectNameE" name="ProjectNameE" class="form-control-mod" type="text" placeholder="Project Name in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectNameA" name="ProjectNameA">Project Name (AR): <span style="color:red;">*</span></label>
                                                    <input id="ProjectNameA" name="ProjectNameA" class="form-control-mod" type="text" placeholder="Project Name in English">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectLocationE" name="ProjectLocationE">Project Location (EN): </label>
                                                    <input id="ProjectLocationE" name="ProjectLocationE" class="form-control-mod" placeholder="Project Location in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectLocationA" name="ProjectLocationA">Project Location (AR): </label>
                                                    <input id="ProjectLocationA" name="ProjectLocationA" class="form-control-mod" placeholder="Project Location in Arabic">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectOwnerE" name="ProjectOwnerE">Project Owner (EN): </label>
                                                    <input id="ProjectOwnerE" name="ProjectOwnerE" class="form-control-mod" placeholder="Project Owner in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectOwnerA" name="ProjectOwnerA">Project Owner (AR): </label>
                                                    <input id="ProjectOwnerA" name="ProjectOwnerA" class="form-control-mod" placeholder="Project Owner in Arabic">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectOperatorE" name="ProjectOperatorE">Project Operator (EN): </label>
                                                    <input id="ProjectOperatorE" name="ProjectOperatorE" class="form-control-mod" placeholder="Project Operator in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectOperatorA" name="ProjectOperatorA">Project Operator (AR): </label>
                                                    <input id="ProjectOperatorA" name="ProjectOperatorA" class="form-control-mod" placeholder="Project Operator in Arabic">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectDeveloperE" name="ProjectDeveloperE">Project Developer (EN): </label>
                                                    <input id="ProjectDeveloperE" name="ProjectDeveloperE" class="form-control-mod" placeholder="Project Developer in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectDeveloperA" name="ProjectDeveloperA">Project Developer (AR): </label>
                                                    <input id="ProjectDeveloperA" name="ProjectDeveloperA" class="form-control-mod" placeholder="Project Developer in Arabic">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectOverviewE" name="ProjectOverviewE">Project Overview (EN): </label>
                                                    <textarea id="ProjectOverviewE" name="ProjectOverviewE" class="form-control-mod" placeholder="Explain This Project"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectOverviewA" name="ProjectOverviewA">Project Overview (AR): </label>
                                                    <textarea id="ProjectOverviewA" name="ProjectOverviewA" class="form-control-mod" placeholder="Explain This Project"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectDate" name="ProjectDate">Project Date: </label>
                                                    <input id="ProjectDate" name="ProjectDate" type="date" class="form-control-mod">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label id="ProjectCapacity" name="ProjectCapacity">Project Capacity: </label>
                                                    <input id="ProjectCapacity" name="ProjectCapacity" type="number" class="form-control-mod" placeholder="M/3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="input-group">
                                                <input type="file" class="form-control" id="Photo" name="Photo">
                                                <label class="input-group-text" id="Photo" name="Photo">Upload Project Photo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="AddProject">Add Project</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" style="margin:120px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ServiceDetailsModal">Add Service Detail</button>
<div class="modal fade" id="ServiceDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Service Detail Item</h5>
            </div>
            <div class="modal-body">
                <div id="rs-checkout" class="rs-checkout">
                    <div class="container">
                        <div class="full-grid">
                            <form id="ServiceDetailForm">
                                <div class="billing-fields">
                                    <div class="form-content-box">
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailNameE">Service Detail Name (EN): <span style="color:red;">*</span></label>
                                                    <input id="ServiceDetailNameE" name="ServiceDetailNameE" class="form-control-mod" type="text" placeholder="Service Detail Name in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailNameA">Service Detail Name (AR): <span style="color:red;">*</span></label>
                                                    <input id="ServiceDetailNameA" name="ServiceDetailNameA" class="form-control-mod" type="text" placeholder="Service Detail Name in English">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailBriefE">Service Detail Brief (EN): <span style="color:red;">*</span></label>
                                                    <input id="ServiceDetailBriefE" name="ServiceDetailBriefE" class="form-control-mod" type="text" placeholder="Service Detail Brief in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailBriefA">Service Detail Brief (AR): <span style="color:red;">*</span></label>
                                                    <input id="ServiceDetailBriefA" name="ServiceDetailBriefA" class="form-control-mod" type="text" placeholder="Service Detail Brief in English">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailOverviewE">Service Detail Overview (EN): <span style="color:red;">*</span></label>
                                                    <textarea id="ServiceDetailOverviewE" name="ServiceDetailOverviewE" placeholder="Service Detail Overview in English"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailOverviewA">Service Detail Overview (AR): <span style="color:red;">*</span></label>
                                                    <textarea id="ServiceDetailOverviewA" name="ServiceDetailOverviewA" placeholder="Service Detail Overview in English"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-30">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailEndE">Service Detail End (EN): <span style="color:red;">*</span></label>
                                                    <input id="ServiceDetailEndE" name="ServiceDetailEndE" class="form-control-mod" type="text" placeholder="Service Detail End in English">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label name="ServiceDetailEndA">Service Detail End (AR): <span style="color:red;">*</span></label>
                                                    <input id="ServiceDetailEndA" name="ServiceDetailEndA" class="form-control-mod" type="text" placeholder="Service Detail End in English">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="AddServiceDetail">Add Service Detail</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#ServiceDetailOverviewE',
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
            'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
            'fullscreen', 'insertdatetime',
            'media', 'table', 'emoticons', 'template', 'help'
        ],
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help',
        });

    tinymce.init({
        selector: 'textarea#ServiceDetailOverviewA',
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview',
            'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code',
            'fullscreen', 'insertdatetime',
            'media', 'table', 'emoticons', 'template', 'help'
        ],
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help',
    });

    $('#ServiceModal').on('shown.bs.modal', function () {
        $('#ServiceModal').trigger('focus')
    });

    $('#AddProject').click(function (event) {
        debugger;
        event.preventDefault();
        $('#AddProject').hide();
        $.ajax({
            type: 'Post',
            url: '/Admin/CreateProject',
            data: $('#ProjectForm').serialize(),
            success: function (res) {
                if (res.success) {
                    Swal({
                        type: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#0CC27E',
                        confirmButtonClass: 'btn btn-success btn-raised mr-5',
                        cancelButtonClass: 'btn btn-danger btn-raised',
                        confirmButtonText: 'Ok',
                        cancelButtonText: 'Back',
                        buttonsStyling: false
                    }).then(function () {
                        location.reload()
                    }, function (dismiss) {
                        location.href = "/Admin/Index"
                    })

                } else {
                    $('#AddProject').show()
                    Swal("Error!", "errMessage", "error");
                }
            },
            error: function (err) {
                Swal("Error!", err, "error");
                console.log(err)
            }
        })
    });

    $('#AddServiceDetail').click(function (event) {
        debugger;
        event.preventDefault();
        let nameE = $('#ServiceDetailNameE').val();
        let nameA = $('#ServiceDetailNameA').val();
        let briefE = $('#ServiceDetailBriefE').val();
        let briefA = $('#ServiceDetailBriefA').val();
        let endE = $('#ServiceDetailEndE').val();
        let endA = $('#ServiceDetailEndA').val();
        let overviewE = tinymce.get("ServiceDetailOverviewE").getContent();
        let overviewA = tinymce.get("ServiceDetailOverviewA").getContent();
        $('#AddServiceDetail').hide();
        $.ajax({
            type: 'Post',
            url: '/Admin/CreateServiceDetail',
            data: {
                ServiceDetailNameE: nameE,
                ServiceDetailNameA: nameA,
                ServiceDetailBriefE: briefE,
                ServiceDetailBriefA: briefA,
                ServiceDetailEndE: endE,
                ServiceDetailEndA: endA,
                ServiceDetailOverviewE: overviewE,
                ServiceDetailOverviewA: overviewA
            },
            success: function (res) {
                if (res.success) {
                    swal.fire('Saved Successfully').then(function () {
                        location.reload()
                    }, function (dismiss) {
                        location.href = "/Admin/Index"
                    })
                } else {
                    $('#AddServiceDetail').show()
                    swal.fire("Error!", "errMessage", "error");
                }
            },
            error: function (err) {
                swal.fire("Error!", err, "error");
                console.log(err)
            }
        })
    });


</script>