@{
    ViewBag.Title = "Index";
    ViewBag.pTitle = "Index";
    ViewBag.pageTitle = "Index";
    Layout = "~/Views/SharedDashboard/_Layout.cshtml";
}

<h1>Index</h1>

@section scripts{
    <!-- App js -->
    <script src="~/assetsDashboard/js/app.js"></script>
    }